<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1516630066-qj4m02ndmplv9htealtcsg9p99u3648d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1516630066-qj4m02ndmplv9htealtcsg9p99u3648d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1516630066-bepbktfbh86tvutv9hk3ejiss7jp9ap0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCU6b31BpgD0xZdmg01la6XLLjUlxkkIxY</string>
	<key>GCM_SENDER_ID</key>
	<string>1516630066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthnovoindia.healthnovo</string>
	<key>PROJECT_ID</key>
	<string>healthnovoplus</string>
	<key>STORAGE_BUCKET</key>
	<string>healthnovoplus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1516630066:ios:8d52cdedf97a84290c4c2b</string>
</dict>
</plist>